/*Скидання стилів*/
@import url(reset.css);

/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    --colorCleanLight: #ffffff;
    --colorLight: #e6dfdf;
    --colorDark: #000000;
    --colorBorder: #e6dfdf;
    --colorHoverText: #32b5a4;
    --backgroundStory: #468766;
    --backgroundHeroText: #003833a3;
    --backgroundGallaryItem: #f9f9f9;
    --backgroundHeaderFooter: #003833;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Marcellus", serif;
    color: var(--colorLight);
    background-color: var(--colorCleanLight);
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--colorDark);
    }
}

.wrapper {
    overflow: clip;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*=__container] {
    max-width: 91.875rem;
    /*1470px*/
    margin: 0 auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

[class*="--margin"] {
    margin-bottom: 5rem;
}



/* ========================================= */
/* --- header --- */
.header__icon-menu {
    display: none;
}

#header {
    background-color: var(--backgroundHeaderFooter);
    color: var(--colorCleanLight);
    font-size: 1.5rem;
    line-height: 1.3;
}

.header__container {
    min-height: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__container nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 4rem;
}

@media (any-hover: hover),
(pointer: fine) {
    a:hover {
        transition: all 0.3s;
        color: var(--colorHoverText);
        text-decoration: underline;
        text-underline-offset: 0.1875rem;
    }

    .menu-open .header__container nav a:hover {
        color: var(--colorDark);
    }
}

@media (max-width:45rem) {
    .header__icon-menu {
        display: block;
        width: 1.875rem;
        height: 1.25rem;
        right: 0;
        top: 0;

        position: relative;
        z-index: 15;
    }

    /* --- Значок меню --- */
    .header__icon-menu span,
    .header__icon-menu::before,
    .header__icon-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.125rem;
        right: 0;
        background-color: var(--colorCleanLight);
        transition: all 0.3s;
    }

    .header__icon-menu span {
        top: 50%;
        transform: translateY(-50%);
    }

    .header__icon-menu::before {
        top: 0;
    }

    .header__icon-menu::after {
        bottom: 0;
    }

    .menu-open .header__icon-menu span {
        width: 0;
    }

    .menu-open .header__icon-menu::before {
        top: 50%;
        transform: rotate(-45deg)translateY(-0.125rem);
    }

    .menu-open .header__icon-menu::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(0.125rem);
    }

    /* -- Мобільний бургер-меню -- */
    .header__container nav {
        position: fixed;
        overflow: hidden;
        height: calc(100%);
        background-color: var(--backgroundStory);
        width: 100%;
        top: 0;
        right: -100%;
        z-index: 10;
        overflow: auto;

        transition: all 0.5s;
    }

    .menu-open .header__container nav {
        right: 0;
    }

    .menu-open .header__container nav a {
        font-size: 1.8rem;
    }

    body.menu-open {
        overflow: hidden;
    }

    .header__container nav ul {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 1.25rem;
        font-size: 1.25rem;
        padding: 4.875rem 1rem 1.875rem;
    }
}








/* --- hero --- */
#hero {
    max-width: 120rem;
    /*1920px*/
    width: 100vw;
    height: calc(100svh - 5.625rem);
    background: url(../img/hero_bg.webp) center center / cover no-repeat fixed;
    margin-left: auto;
    margin-right: auto;
}

.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--colorCleanLight);
    font-size: clamp(1rem, 0.757rem + 1.22vw, 1.875rem);
    /*30>16 & 1470>320*/
    line-height: 1.5;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.875rem;
    text-align: start;
    background-color: var(--backgroundHeroText);
    padding: 1.2em 2em;
    margin: 0 -0.9375em;

    opacity: 0;
    animation: move-in-text 1s ease-out forwards;
    animation-delay: 0.3s;
    transform: translateX(200vw);
}

@keyframes move-in-text {
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.hero__text h1 {
    font-size: clamp(1.5rem, 1.083rem + 2.09vw, 3rem);
    /*48>24 & 1470>320*/
    line-height: 1.2;
}

.hero__text p {
    mix-blend-mode: color-dodge;
    isolation: auto;
}

/*1440px*/
@media (min-width: 90em) {
    .hero__text {
        margin-right: calc(((100vw - (90rem - 0.9375rem)) / 2)*-1);
    }
}

/*1920px*/
@media (min-width: 120em) {
    .hero__text {
        margin-right: -15rem;
    }
}




/* --- gallary --- */
.gallary {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;

    color: var(--backgroundHeroText);
    line-height: 1.2;
}

.gallary__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18.75rem, 100%), 1fr));
    grid-template-rows: auto auto 1fr;
    gap: 1.25rem;
}

.gallary__item {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    opacity: 0;
    animation: move-in-img 1s ease-out forwards;
    animation-delay: 1.5s;
    transform: translateX(200vw);

    background-color: var(--backgroundGallaryItem);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.gallary__item img {
    max-height: 18.75rem;
    width: 100%;
    aspect-ratio: 3 / 3;
    object-fit: cover;
    transition: all 0.3s;

    grid-row: 1;
}

.gallary__title {
    font-weight: 600;
    grid-row: 2;
}

.gallary__caption {
    grid-row: 3;
}

/* Анімація */
@keyframes move-in-img {
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.gallary__item:nth-child(1),
.gallary__item:nth-child(2) {
    transform: translateX(-200vw);
}

.gallary__item:nth-child(1) img,
.gallary__item:nth-child(3) img {
    clip-path: xywh(0 0.3125rem 100% 100% round 15% 0);
}

.gallary__item:nth-child(2) img,
.gallary__item:nth-child(4) img {
    clip-path: xywh(0 0.3125rem 100% 100% round 0 15%);
}


@media (any-hover: hover),
(pointer: fine) {
    .gallary__item:hover {
        cursor: url(../img/favicon.ico) 5 5,
            pointer;
    }

    .gallary__item:hover img {
        scale: 1.05;
    }
}

@media (prefers-color-scheme: dark) {
    .gallary__item {
        background-color: var(--backgroundHeaderFooter);
        color: var(--colorCleanLight);
    }
}




/* --- story --- */
.story {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;

    /*font-size: 1.5em;*/
    font-size: clamp(1rem, 0.965rem + 0.17vw, 1.125rem);
    /*16>18 & 1470>320*/
    line-height: 1.2;
    background-color: var(--backgroundStory);
    padding: 1.25rem 0;
}


.story__container article {
    display: flex;
    gap: 1em;
}

.story__container article h3 {
    inline-size: auto;
    block-size: auto;

    font-size: clamp(1.375rem, 1.201rem + 0.87vw, 2rem);
    /*32>22 & 1470>320*/

    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;

    --colorShadow: #9fc93b;
    text-shadow: 0.375rem 0 0.5rem var(--colorShadow);

    writing-mode: vertical-lr;
    text-orientation: upright;

    padding-block: 1.25rem;
    margin-inline: auto;
}

.story__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
}


.story__img {
    max-width: 37.5rem;
    width: 100%;
    border: 0.1em solid var(--colorBorder);
    padding: 1em;

    container-type: inline-size;
    container-name: story-img;
}

.story__img img {
    width: min(40em, (100vw - 5rem));
    height: calc(100% - 2em);
    object-fit: contain;
    margin-bottom: 1em;

    cursor: url(../img/favicon.ico) 10 12,
        pointer;

    transform: scale(-1, 1);
}

.story__img figcaption {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
}

@container (min-width:25rem) {
    .story__img figcaption {
        font-size: 1.1em;
        color: var(--colorDark);
    }
}

.story__text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.story__link {
    pointer-events: auto;
    color: red;
    font-weight: 700;

    position: relative;
}

.story__link::after {
    content: '';
    position: absolute;
    background: url(../img/butterfly.png) no-repeat;
    background-size: contain;

    width: 3.75rem;
    height: 3.4375rem;
    inset: -0.9375rem 0 0 3rem;

    pointer-events: none;
}

/*1000px*/
@media (max-width: 48em) {
    .story__container article {
        flex-direction: column;
        align-items: center;
    }

    .story__container article h3 {
        height: min-content;
        text-align: start;
    }

    .story__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



/* --- footer --- */
#footer {
    background-color: var(--backgroundHeaderFooter);
    padding: 1.875rem 0;
    font-size: 1.25rem;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* ============================================= */