/*Скидання стилів*/
@import url(reset.css);

/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

.wrapper {
    overflow: clip;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*=__container] {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* ========================================= */
/* ---- header ---- */
#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.business-header {
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(113.6500015258789px);
}

.business-header__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-top: 27px;
    padding-bottom: 25px;
    position: relative;
}

.logo-block {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    z-index: 5;
}

.logo-block__icon {
    margin-right: 6px;
}

.logo-block__text {
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s;
}

.business-header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    z-index: 3;
}

.business-header__link {
    position: relative;
}

.business-header__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background: #F26522;
    transition: width 0.3s;
}

.business-header__button {
    display: flex;
}

.business-header__button {
    flex-shrink: 0;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: #F26522;
    padding: 8px 30px;
    font-size: 16px;
    color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.business-header__button::before {
    content: '';
    position: absolute;
    top: -35%;
    left: -35%;
    transform: skew(-20deg);
    height: 170%;
    width: 30%;
    background: #fff;
    background: linear-gradient(90deg, #00000000, #ffffff61);
}

.business-header__button::after {
    content: '';
    background: url(../img/icons/business__icon-right-arrow.svg) 0 0 no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.business-header__menu-icon {
    display: none;
}





@media (any-hover: hover) {
    .logo-block:hover .logo-block__text {
        color: #F26522;
    }

    .business-header__link:hover::after {
        width: 100%;
    }

    .business-header__button:hover::before {
        translate: 500%;
        transition: translate 1s;
    }
}

@media (max-width: 970px) {
    .logo-block__icon {
        width: 30px;
    }

    .logo-block__text {
        font-size: 16px;
    }

    .business-header__list {
        font-size: 11px;
        gap: 15px;
    }

    .business-header__button {
        padding: 8px 16px;
        font-size: 12px;
    }

    .business-header__button::after {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 767.98px) {
    .business-header__menu-icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }

    .business-header__menu-icon span,
    .business-header__menu-icon::before,
    .business-header__menu-icon::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background: #000;
        transition: all 0.3s;
    }

    .business-header__menu-icon span {
        top: 50%;
        transform: translateY(-50%);
    }

    .business-header__menu-icon::before {
        top: 0;
    }

    .business-header__menu-icon::after {
        bottom: 0;
    }

    .menu-open-2 .business-header__menu-icon span {
        width: 0;
    }

    .menu-open-2 .business-header__menu-icon::before {
        top: 50%;
        transform: rotate(-45deg)translateY(-2px);
    }

    .menu-open-2 .business-header__menu-icon::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(2px);
    }

    .business-header__menu-body {
        position: fixed;

        overflow: auto;
        /*Скрол при умові фіксованої висоти*/
        width: 100%;
        height: calc(100vh - 83px);
        top: 83px;
        left: -100%;

        flex-direction: column;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 20px;

        background: #fbe3cda2;
        padding: 30px 15px;

        transition: all 0.5s;
    }

    .menu-open-2 .business-header__menu-body {
        left: 0;
    }

    body.menu-open-2 {
        overflow: hidden; /* Прибираю скрол з body при відкритому меню */
    }

    .business-header__list {
        flex-grow: 1;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
        font-size: 20px;
    }

}

@media (max-width: 425px) {
    .logo-block__text {
        display: none;
    }

    .business-header__button {
        margin-right: calc(((100% - (15px * 2 + 30px + 36px + 100px))) / 4);
    }
}



/* -- intro -- */
.intro {
    background: url(../img/image.webp) center no-repeat;
    background-size: cover;
    min-height: calc(100vh - 116px);
}

.intro__container {
    max-width: 1200px;
    margin-top: -97px;
}

@media (max-width: 970px) {
    .intro__container {
        margin-top: -86px;
    }
}

@media (max-width: 425px) {
    .intro {
        min-height: calc(100vh - 120px);
    }

    .intro__container {
        margin-top: -82px;
    }
}

@media (max-width: 383px) {
    .intro {
        min-height: calc(100vh - 136px);
    }
}

/* -- footer -- */
#footer {
    background: #030204;
    color: #F26522;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.footer__link {
    position: relative;
    transition: all 0.3s;
}

.footer__link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0px;
    height: 1px;
    background: #fff;
    transition: all 0.4s;
}

@media (any-hover: hover) {
    .footer__link:hover {
        color: #fff;
    }

    .footer__link:hover::after {
        width: 100%;
    }
}

/* ============================================= */