/*Скидання стилів*/
@import url(reset.css);

/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    max-width: 1728px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wrapper>main {
    flex-grow: 1;
}

[class*=__container] {
    max-width: 1201px;
    margin: 0 auto;
}

[class*="--margin"] {
    margin-bottom: 50px;
}



/* ========================================= */
/* ---- header ---- */
#header {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    text-transform: inherit;
    font-weight: 600;
    background: #222222;
    color: burlywood;
}

.header__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    transition: all 0.3s;
}

.header__list li:first-child {
    flex-grow: 1;
}

.header__list li a:hover,
.header__list li a:active {
    text-decoration: underline;
    text-decoration-color: #FE3F3F;
    text-underline-offset: 2px;
    text-shadow: 0px 0px 15px #FE3F3F;
}

.header__list li a img {
    transition: transform 0.3s linear;
}

.header__list li a img:hover,
.header__list li a img:active {
    transform: scale(0.9);
}



/* ---- name-lesson ---- */
.page__block--margin:has(.name-lesson__container) {
    margin-bottom: 0;
}

.name-lesson {
    background: #5f5d5d;
    padding: 16px;
    color: #FE3F3F;
    font-size: 48px;
    font-weight: 700;
}


/* ---- Section black-form ---- */
.black-form {
    background: #222222;
    padding: 60px 16px 102px;
}

.black-form__line {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.black-form__line:first-child .black-form__lable {
    flex-shrink: 0;

    display: inline-block;
    font-size: 16px;

    color: burlywood;
}

.black-form__line:not(:first-child) .black-form__lable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    font-size: 16px;
    color: burlywood;
}

.black-form__line:not(:first-child) .black-form__lable span {
    flex-shrink: 0;
}

.black-form__input {
    height: 48px;
    border: 2px solid #fbfbfb4d;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}



/* STYLE for placeholder */
.black-form__input::placeholder {
    color: #FE3F3F;
    transition: opacity 0.6s;
}

.black-form__input:focus::placeholder {
    opacity: 0;
}



/* STYLE for disabled */
.black-form__input:disabled {
    opacity: 0.3;
    cursor: no-drop;
}


.black-form__line--margin {
    margin-bottom: 30px;
}



/* STYLE for checkbox */
.checkbox {
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
}

.checkbox__input {
    opacity: 0;
    width: 0;
    height: 0;
    width: auto;
}

.checkbox__input:checked+.checkbox__lable::before {
    background: #FE3F3F;
    border: 5px solid;
}

.checkbox__input:focus-visible+.checkbox__lable {
    outline: 1px solid;
    outline-offset: 5px;
    border-radius: 5px;
}

.checkbox__lable {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    color: burlywood;
}

.checkbox__lable::before {
    content: '';
    width: 20px;
    height: 20px;
    align-self: flex-start;
    background: burlywood;
    border-radius: 2px;
    transition: background 0.3s;
}



/* STYLE for radio-buttons/ options */
.options {
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
}

.options__input {
    opacity: 0;
    width: 0;
    height: 0;
    width: auto;
}

.options__input:checked+.options__lable::before {
    background: #FE3F3F;
    border: 5px solid;
}

.options__input:focus-visible+.options__lable {
    outline: 1px solid;
    outline-offset: 5px;
    border-radius: 5px;
}

.options__lable {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    color: #deb887;
}

.options__lable::before {
    content: '';
    width: 20px;
    height: 20px;
    align-self: flex-start;
    background: burlywood;

    border-radius: 50%;
    transition: background 0.3s;
}




/* STYLE for file */
.black-form__add-file {
    position: relative;
    background: burlywood;
    padding: 15px;
    border-radius: 10px;
}

.black-form__add-file:hover,
.black-form__add-file:active {
    border: 1px solid #000000;
    box-shadow: 0px 0px 11px 0px burlywood;
}

.black-form__add-file:focus-within {
    outline: 1px solid burlywood;
    outline-offset: 3px;
}

.black-form__add-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 0;
    font-size: 0;
    /* Обов"язково font-size: 0; + cursor: pointer;*/
    cursor: pointer;
}



/* STYLE for textarea */
.black-form__textarea {
    padding: 10px;
    border: 2px solid #fbfbfb4d;
    border-radius: 10px;

    resize: vertical;
}



/* STYLE for select */
.black-form__line:has(select) {
    margin-bottom: 50px;
}

.black-form__lable select {
    width: 100%;
    background: #eae6e64d;
    border-radius: 10px;
    color: burlywood;
    padding: 10px;
}

.black-form__lable select:focus {
    background: burlywood;
    color: #000000;
}

.black-form__lable select option {
    width: 80%;
    padding: 10px;
    background: none;
    border-bottom: 2px solid;
}

.black-form__lable select option:focus {
    background: none;
}



/* STYLE for buttons */
.black-form__line button {
    background: burlywood;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 0 20px 0 0;
}

.black-form__line button:hover {
    border: 1px solid #000000;
    box-shadow: 0px 0px 11px 0px burlywood;
}



/* STYLE for switcher */
.black-form__line:has(.switcher) {
    margin-top: 50px;
    color: burlywood;
}

.switcher {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: burlywood;
    cursor: pointer;

    position: relative;
}

.switcher:has(input:focus-visible) {
    outline: 1px solid burlywood;
    outline-offset: 3px;
}

.switcher input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switcher::before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;

    position: absolute;
    top: 1px;
    left: 1px;
    background: #FE3F3F;
    box-shadow: 1px 1px 5px 1px #0000002b;
    transition:
        left 0.3s,
        transform 0.5s;
}

.switcher:has(input:checked)::before {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}



/* =========================================== */

/* ======= HOMEWORK from "Ecobazar" ======= */

#registration {
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 16px;
}

.registration__container {
    max-width: 1320px;
    margin: 0 auto;
}

.section-title {
    color: #1A1A1A;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

.section-title--margin {
    margin-bottom: 20px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 24px;
}

.form__column:first-child {
    max-width: 872px;
}

.form__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 16px;
    margin-bottom: 16px;
}

.form__item {
    width: auto;
    flex-grow: 1;
}

.form__label {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}

.form__label span {
    color: #1A1A1A;
    font-size: 14px;
    line-height: 1.5;
}

.form__input {
    flex-grow: 1;
    min-width: 280px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 12px 16px;
}

.form__input:focus {
    outline: 2px solid #00B207;
}

.form__input::placeholder {
    color: #999;
    font-size: 16px;
    line-height: 1.3;
    transition: opacity 0.6s;
}

.form__input:focus::placeholder {
    opacity: 0;
}



.form__select {
    flex-grow: 1;
    min-width: 280px;
    width: 100%;
    height: 50px;

    border-radius: 6px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 12px 16px;

    color: #999;
    font-size: 16px;
    line-height: 1.3;
    transition: opacity 0.6s;
}

.form__select option {
    width: 280px;
    font-size: 12px;
    padding: 14px;
}

.form__select:focus {
    outline: 2px solid #00B207;
}

.form__select option:checked {
    background-color: #00B207;
    color: #FFF;
}




.form__group:has(.form__checkbox) {
    margin-top: 20px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #E6E6E6;
}

.form__input-checkbox {
    text-align: start;
    width: 0;
    height: 0;
    opacity: 0;
}

.form__input-checkbox:checked+.form__label-checkbox::before {
    content: '\2713';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    color: #00B207;
    border: 2px solid #00B207;
}

.form__input-checkbox:focus-visible+.form__label-checkbox {
    outline: 2px solid #00B207;
    outline-offset: 5px;
    border-radius: 5px;
}

.form__label-checkbox {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    line-height: 1.5;
    color: #4D4D4D;
    background: #FFF;
    cursor: pointer;
}

.form__label-checkbox::before {
    content: '';
    width: 20px;
    height: 20px;
    align-self: flex-start;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    transition: background 0.3s;
}




.form__label-textarea {
    display: inline-block;
    margin-bottom: 8px;
}

.form__input-textarea {
    min-height: 100px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    padding: 14px 16px;

    resize: vertical;
    transition: border 0.3s;
}

.form__input-textarea::placeholder {
    transition: opacity 0.6s;
}

.form__input-textarea:focus::placeholder {
    opacity: 0;
}

.form__input-textarea:focus-visible,
.form__input-textarea:focus {
    border: 0px;
    outline: 2px solid #00B207;
    outline-offset: 3px;
}

.order {
    max-width: 424px;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    padding: 24px;

    font-size: 14px;
    line-height: 1.5;
}

.summary {
    margin-bottom: 24px;
}

.summary__order-list {
    margin-bottom: 12px;
}

.summary__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.summary__line img {
    width: 60px;
    height: 60px;
}

.summary__text {
    flex-grow: 1;
    width: 100%;
    color: #1A1A1A;
}

.summary__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.summary__input {
    margin-right: 10px;
    cursor: pointer;
}

.summary__input:focus {
    outline: 2px solid #00B207;
    border-radius: 3px;
    padding: 3px;
}

.summary__sum {
    color: #1A1A1A;
    font-weight: 500;
}

.summary__result-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0;
    border-bottom: 1px solid #E6E6E6;
}

.summary__result-line:last-child {
    font-size: 16px;
}

.order__payment-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.order__radio {
    display: inline-flex;
    gap: 6px;
    cursor: pointer;
}

.order__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.order__input:checked+.order__label::before {
    background: radial-gradient(circle at center, #00B207 5px, #ffffff 6px);
}

.order__input:disabled+.order__label::before {
    border: 1px solid #E6E6E6;
}

.order__input:focus-visible+.order__label {
    outline: 1px solid #00B207;
    outline-offset: 5px;
    border-radius: 5px;
}

.order__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.order__label::before {
    content: '';
    width: 20px;
    height: 20px;
    align-self: flex-start;
    border-radius: 50%;
    border: 1px solid #00B207;
    background: #ffffff;
    transition: background 0.3s;
}

.order__button {
    width: 376px;
    height: 51px;
    border-radius: 43px;
    color: #ffffff;
    background: #00B207;
    font-size: 16px;
    font-weight: 600;
    transition:
        transform 0.6s,
        background 0.3s;
}

.order__button:hover,
.order__button:active {
    transform: scale(0.9);
    background: #2C742F;
}




/* ---- Section footer ---- */
#footer {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    background: #222222;
    color: burlywood;
}

.footer__container a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    transition: all 0.5s;
}

.footer__container a::after {
    content: '>';
    font-size: 60px;
    width: 65px;
    height: 66px;
    border-radius: 50%;
    transform: rotate(-90deg);
    border: 4px solid #FE3F3F;
    padding: 0px 0px 0px 12px;
    margin-left: 20px;

    animation: pulseButtonUp 1s infinite ease-in-out;
}

@keyframes pulseButtonUp {

    0%,
    100% {
        transform: rotate(-90deg) scale(1);
    }

    50% {
        transform: rotate(-90deg) scale(0.9);
    }
}

.footer__container:hover a::after {
    background-color: burlywood;
    color: #FE3F3F;
    transition: all 0.5s;
}

/* ============================================= */