@font-face {
    font-family: "Against";
    src: url("../fonts/against\ regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}